@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes stretchIn {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

@keyframes blurUpAndFade {
  0% {
    transform: translateY(10px);
    filter: blur(5px);
    opacity: 0;
  }
  50% {
    filter: blur(3px);
  }
  100% {
    transform: translateY(0);
    filter: blur(0);
    opacity: 1;
  }
}

@keyframes blurRightAndFade {
  0% {
    transform: translateX(-10px);
    filter: blur(5px);
    opacity: 0;
  }
  50% {
    filter: blur(3px);
  }
  100% {
    transform: translateX(0);
    filter: blur(0);
    opacity: 1;
  }
}
