/**
 * LIGHT THEME COLORS
 */
body {
  --background-color: #fff;
  --background-color-secondary: #eceff1;
  --text-color: #3e4450;
  --text-color-light: #627180;
  --color-accent: #00b8d4;
  --color-accent-light: #00b8d499;
}

/**
 * DARK THEME COLORS
 */
body.dark {
  --background-color: #1d2025;
  --background-color-secondary: #3a434c;
  --text-color: #abb4bd;
  --text-color-light: #767c82;
  --color-accent: #00e5ff;
  --color-accent-light: #00e5ff99;
}
